@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    padding:8px 16px ;
    align-items: center;
}
.hamburger{
    display: none;
    font-size: 26px;
    cursor: pointer;
}
.mobile-menu{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color:#ffffff ;
    box-shadow: -2px 0 6px rgba(0,0,0,0.15);
    transition: right 0.3s ease-in-out;
    padding: 1.5rem 1rem;
    z-index: 900 !important;
}
.mobile-menu.show{
    right: 0;
}
.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.menu-header h2{
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    color: gray;
    font-weight: 600;
}
.close{
    font-size: 20px;
    cursor: pointer;
    color: gray;
}
.mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-menu li{
    margin-bottom: 0.5rem;
   
}
.mobile-menu li a{
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    gap:10px;
    color: black;
    padding: 6px;
    font-weight: 600;

}
.mobile-menu li a:hover{
    background-color: #F5F5F5;
}
.nav-links{
    position: relative;
    margin-bottom: 5px;
    
}
.nav-links ul{

    display: flex;
}
.nav-links li{
    list-style: none;
    padding-bottom: 5px;

}
.nav-links li a{
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    color: black;
    font-size: 16px;
    text-underline-offset: 4px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
}
.nav-links li a:hover{
    color:#ffc107 ;
    text-decoration: underline 2px;
   
   
 
}
@media(max-width:786px){
    .navbar{
        padding: 8px 16px;
        margin: 0;
    }
    .hamburger{
        display: block;
    }
    .nav-links{
        display: none;
    }
}
@media (min-width : 796px){
    .nav-links{
        display: block;
    }
.mobile-menu{
    display: none;
}
}