.top-sec{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.view-more{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
}

.latest-news{
    font-size: 24px;
    font-weight: 700;
}
.img1-heading{
    font-size: 30px;
    font-weight: 700;
}
.img1-heading:hover{
    color: #ffc107 ;
}
.img1-description{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 16px;
}
.news-timing{
    font-weight: 400;
    font-size: 14px;
}
.news-description{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}
.news-description:hover{
    color: #ffc107;
 
}